@-webkit-keyframes bounce { from { margin-top: -10px;  } to { margin-top:10px; } }
@-webkit-keyframes shadow { from { opacity:0.05; } to { opacity:0.2; } }

#square {-webkit-animation-name: bounce;-webkit-animation-duration: .5s;-webkit-animation-timing-function: ease-in-out; -webkit-animation-direction: alternate; -webkit-animation-iteration-count: infinite; }
#shadow {-webkit-animation-name: shadow;-webkit-animation-duration: .5s;-webkit-animation-timing-function: ease-in-out; -webkit-animation-direction: alternate; -webkit-animation-iteration-count: infinite; }


* {
	margin:0;
	padding:0;
	text-decoration:none;
}
body {
	background:#ffffff;
	font-size:14px;
	font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;	
}
#content {
	width:640px;
	padding-top:240px;
	padding-bottom:60px;
	margin:0 auto;
	text-align:center;
}
h2, h3 {
	font-size:14px;
	font-weight:normal;
}
h2 {
	color:#000000;
}
h3, p {
	color:#666666;
}
#square {
	display:inline-block;
	height:60px;
	width:60px;
	background:#000000;
	position:absolute;
	left:50%;
	top:60px;
	margin-left:-30px;
	-webkit-transition-property: x, y;
	-webkit-transition-duration: 0.1s;
	-webkit-transition-timing-function: linear;
	-moz-transition-property: x, y;
	-moz-transition-duration: 0.1s;
	-moz-transition-timing-function: linear;
}
#shadow {
	height:20px;
	width:120px;
	position:absolute;
	left:50%;
	top:140px;
	margin-left:-60px;
	background:url(../images/shadow.png) top left no-repeat;
}
.button a {
	padding:14px 20px;
	background: #666666;
	box-shadow: 2px 2px 0px #f1f1f1;
	text-shadow: -1px -1px 0px #444444;
	font-weight:bold;
	color:#e5e5e5;
	cursor:pointer;	
}
p, a.nearby {
	margin-bottom:14px;
}
a.nearby p {
	margin-bottom:0;
}
.button {
	margin:40px 0px;
}
.nearby-venues {
	margin-top:40px;
}
.button a:hover, a.nearby:hover, a.activity:hover {
	background-color:#555555;
}
.nav a:hover {
	background-color:#d1d1d1;
}
a.nearby, .button a, .nav a, a.activity {
	-webkit-transition:background-color .2s ease-in;
	-moz-transition:background-color .2s ease-in;
	-o-transition:background-color .2s ease-in;
	transition:background-color .2s ease-in;
}	
a.nearby, .nav a, a.activity {	
	background: #666666;
	box-shadow: 2px 2px 0px #f1f1f1;
	text-shadow: -1px -1px 0px #444444;
	color:#e5e5e5;
	cursor:pointer;	
	display:inline-block;
	width:auto;
	padding:14px 20px;
	margin-right:14px;
}
a.nearby *, a.activity * {
	color:#e5e5e5;
}
a.nearby h2, a.activity h2 {
	color:#ffffff;
}
.nav a {
	background:#dddddd;
	float:left;
	padding:5px 10px 7px 10px;
	text-shadow: 1px 1px 0px #ffffff;
	color:#666666;	
}