@-webkit-keyframes bounce { from { top: 120px;  } to { top:140px; } }
@-webkit-keyframes shadow { from { opacity:0.05; } to { opacity:0.2; } }

.square {-webkit-animation-name: bounce;-webkit-animation-duration: .5s;-webkit-animation-timing-function: ease-in-out; -webkit-animation-direction: alternate; -webkit-animation-iteration-count: infinite; }
.shadow {-webkit-animation-name: shadow;-webkit-animation-duration: .5s;-webkit-animation-timing-function: ease-in-out; -webkit-animation-direction: alternate; -webkit-animation-iteration-count: infinite; }


* {
	list-style:none;
	margin:0;
	padding:0;
	text-decoration:none;
}
body {
	background:#ffffff;
	font-size:21px;
	font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;	
}
.content {
	width:640px;
	height:880px;
	padding-bottom:80px;
	overflow:hidden;
	margin:0 auto;
	text-align:center;
	background:#eeeeee;
}
h2, h3 {
	font-size:21px;
	font-weight:normal;
}
h2 {
	color:#000000;
}
h3, p {
	color:#666666;
}
.square-container {
	width:640px;
	height:360px;
	position:fixed;
	bottom:100px;
	background:#dddddd;	
}
.square {
	display:inline-block;
	height:120px;
	width:120px;
	background:#000000;
	position:absolute;
	left:50%;
	bottom:120px;
	margin-left:-60px;
	-webkit-transition-property: x, y;
	-webkit-transition-duration: 0.1s;
	-webkit-transition-timing-function: linear;
	-moz-transition-property: x, y;
	-moz-transition-duration: 0.1s;
	-moz-transition-timing-function: linear;
}
.square div {
	float:left;
	width:5px;
	height:5px;
}
.shadow {
	height:40px;
	width:240px;
	position:absolute;
	left:50%;
	top:300px;
	margin-left:-120px;
	background:url(../images/shadow.png) top left no-repeat;
	background-size:100%;
}
.loading {
	height:16px;
	width:16px;
	display:inline-block;
	position:absolute;
	top:180px;
	left:50%;
	display:none;
	margin-left:-8px;
	background:url(../images/loading.gif) top left no-repeat;
}
ul.nav {
	font-size:24px;
	line-height:24px;
	height:100px;
	position:fixed;
	bottom:0px;
	text-align:center;
	width:640px;
}
ul.nav li {
	background:#fe0000;
}
ul.nav li a {
	padding-top:38px;
	display:inline-block;
	background:#222222;
	color:#eeeeee;
	height:62px;
	width:320px;	
	float:left;
}
/*WELCOME ROUTE*/
.welcome-container p {
	padding:0px 48px;
	padding-top:50%;
}