<!doctype html>
<html>
	<head>
		
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="geo.placename" content="Brooklyn, NY 11205, USA" />
		<meta name="geo.position" content="40.675234;-73.971043" />
		<meta name="geo.region" content="US-NY" />
		<meta name="ICBM" content="40.675234, -73.971043" />
		<meta name="description" content="" /> 
		<meta name="keywords" content="" />
		<meta name="author" content="" /> 
		<meta name="copyright" content="" />
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
		
		<link rel="shortcut icon" type="image/ico" href="{{STATIC_URL}}images/squares.ico" />
		<link rel="stylesheet" href="{{STATIC_URL}}css/style.css" media="screen" />
		
		
		

		<title>Squares</title>
		
	</head>
	
	<body>
	<div class="header"><h1>Squares</h1></div>	
	<div class="content">
	</div>
	<div class="loading"></div>
		
	
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.7.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.json-2.3.min.js"></script>
	<script src="{{STATIC_URL}}js/sammy/sammy.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{STATIC_URL}}js/sammy/plugins/sammy.template.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{STATIC_URL}}js/sammy/plugins/sammy.json.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{STATIC_URL}}js/sammy/plugins/sammy.storage.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/base.js"></script>
	</body>
</html>