<div class="welcome-overlay"></div>
<div class="welcome">
<p><%= welcomeText %></p>
<p><a href="https://foursquare.com/oauth2/authenticate?client_id=<%= clientID %>&response_type=token&redirect_uri=<%= homeRedirect %>" class="foursquare">Login with foursquare</a></p>
</div><!--END .welcome-->